{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Hi, I'm Keiron Stoddart</h1>
    <p class="lead">A data scientist by trade. My interests include probability, statistics, Python, cycling, basketball, entrepreneurship,
        and travel.</p>
    <p class="lead">
        <a href="https://linkedin.com/in/keironstoddart" class="btn btn-lg btn-secondary">Get in Touch</a>
    </p>
</main>
{% endblock %}