{% extends "base.html" %}
{% set active_page = "content" %}

{% block content %}
<div class="row mb-2">
    <p>
        Whenever I have a question that needs to be answered or a problem that needs to be solved, the first thing I do
        is look it up online. The purpose of this content is to uniquely contribute to that collective intelligence.
    </p>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-warning">Python</strong>
                <h3 class="mb-0">The Data Science Stack</h3>
                <div class="mb-1 text-muted">1 August 2019</div>
                <p class="mb-auto">Developing an algorithm is only half of the job.</p>
                <a href="{{ url_for('the_data_science_stack') }}" class="stretched-link">Continue Reading.</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}